:root{
    --background: #f7fafb;
    --background-light: #ffffff;
    --color: #404040;
    // --color-primary: #cc6600;
    --color-primary: #f5563d;
    --primary-inversed: #ffe0e0;
    // --color-secondary: #008040;
    --color-secondary: #4080bf;
    --border: #d5e3ec;
    --padding-container: 20px;
    --shadow: #d8e1e8;
    --bg-footer: #404040;
    --footer-color:#e6e6e6;
}

.is-dark{
    --background: #001a33;
    --background-light: #00284d;
    --color: #cccccc;
    --border: #004466;
    --bg-card:var(--background-light);
    --shadow: var(--background);
    --bg-footer: var(--background-light);
    --footer-color:var(--color);
}

body{
    font-family: sans-serif;
    font-size: 15px;
    line-height: 1.5em;
    background-color: var(--background);
    color: var(--color);
}

body,header,footer,.card, .nav,.product-header{
    transition: background-color .2s, border .2s linear;
}

.body{
    margin-top: 64px;
    padding-bottom: 50px;
}

@media (min-width:840px){
    %container{
        --padding-container: 50px;
    }
}

@media (min-width:1000px){
    %container{
        --padding-container: 100px;
    }
}

%container{
    padding-left: var(--padding-container);
    padding-right: var(--padding-container);
}


.container{
    @extend %container;
}

.text-primary{
    color: var(--color-primary);
}

.text-secondary{
    color: var(--color-secondary);
}

.h1,h1{
    font-size: 40px;
    font-weight: 600;
    line-height: 1.2;
}

.h2,h2{
    font-size: 36px;
    font-weight: 600;
    line-height: 1.2;
}

.h3,h3{
    font-size: 32px;
    font-weight: 600;
    line-height: 1.2;
}

.h4,h4{
    font-size: 28px;
    font-weight: 600;
    line-height:1.2;
}

.h5,h5{
    font-size: 22px;
    font-weight: 600;
    line-height: 1.2;
}

.h6,h6{
    font-size: 18px;
    font-weight: 600;
    line-height: 1.2;
}

.p-5{
    padding: 5px;
}

.pt-5{
    padding-top: 5px;
}

.m-5{
    margin: 5px;
}

.mt-5{
    margin-top: 5px;
}

.p-10{
    padding: 10px;
}

.pt-10{
    padding-top: 10px;
}

.m-10{
    margin: 10px;
}

.mt-10{
    margin-top: 10px;
}

.mb-5{
    margin-bottom: 5px;
}
.mb-10{
    margin-bottom: 10px;
}

.ml-10{
    margin-left: 10px;
}


.page-title{
    line-height: 2;
}