:root{
    --background: #f7fafb;
    --background-light: #ffffff;
    --color: #404040;
    --color-primary: #cc6600;
    --primary-inversed: #ffe0e0;
    --color-secondary: #008040;
    --border: #d5e3ec;
    --padding-container: 20px;
    --shadow: #d8e1e8;
}

.is-dark{
    --background: #001a33;
    --background-light: #00284d;
    --color: #cccccc;
    --border: #004466;
    --bg-card:var(--background-light);
    --shadow: var(--background);
}

body{
    font-family: sans-serif;
    font-size: 15px;
    line-height: 1.5em;
    background-color: var(--background);
    color: var(--color);
}

body,header,footer,.card, .nav,.product-header{
    transition: background-color .3s, color .3s, border .3s linear;
}
.body{
    margin-top: 64px;
    // height: 1000px;
}

@media (min-width:840px){
    %container{
        --padding-container: 50px;
    }
}

@media (min-width:1000px){
    %container{
        --padding-container: 100px;
    }
}

%container{
    padding: var(--padding-container);
}


.container{
    @extend %container;
}

.text-primary{
    color: var(--color-primary);
}

.text-secondary{
    color: var(--color-secondary);
}

.h1,h1{
    font-size: 40px;
    line-height: 1.2;
}

.h2,h2{
    font-size: 36px;
    line-height: 1.2;
}

.h3,h3{
    font-size: 32px;
    line-height: 1.2;
}

.h4,h4{
    font-size: 28px;
    line-height:1.2;
}

.h5,h5{
    font-size: 22px;
    line-height: 1.2;
}

.h6,h6{
    font-size: 18px;
    line-height: 1.2;
}

.p5{
    padding: 5px;
}

.pt5{
    padding-top: 5px;
}

.m5{
    margin: 5px;
}

.mt5{
    margin-top: 5px;
}

.p10{
    padding: 10px;
}

.pt10{
    padding-top: 10px;
}

.m10{
    margin: 10px;
}

.mt10{
    margin-top: 10px;
}

.mb10{
    margin-bottom: 10px;
}


.page-title{
    text-transform: uppercase;
    @extend .h5;
    font-weight: bold;
    margin-bottom: 10px;
}