:root{
    --background: #d9d9d9;
    --background-light: #ffffff;
    --color: #404040;
    --color-primary: #cc6600;
    --primary-inversed: #cccccc;
    --border: #d9d9d9;
}

.is-dark{
    --background: #001a33;
    --background-light: #00284d;
    --color: #cccccc;
    --border: #004466;
}

body{
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    background-color: var(--background);
    color: var(--color);
}

.body{
    margin-top: 65px;
    height: 1000px;
}

%container{
    padding: 0 20px;
}

@media (min-width:840px){
    %container{
        padding: 0 50px;
    }
}

@media (min-width:1000px){
    %container{
        padding: 0 100px;
    }
}

.container{
    @extend %container;
}

.text-primary{
    color: var(--color-primary);
}
