*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
ul,li,
h1,h2,h3,h4,h5,h6,
p,
a,
div,span,
header,nav,footer,section,
button,input{
    margin: 0;
    padding: 0;
    font-size: inherit;
    line-height: inherit;
    font-weight: normal;
}

a{
    text-decoration: none;
    color: inherit;
    transition: color .3s, opacity .3s;
}

ul,ol{
    list-style: none;
}

button{
    border: none;
}