.cart-item{
    background-color: var(--background-light);
    border: 1px solid var(--border);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border-radius: 8px;
}

.cart-img{
    width: 50px;
    height: 50px;
}

.cart-btn{
    padding-right: 20px;

    &:hover{
        opacity: .5;
    }
}

.cart-summary h4{
    text-align: center;
    margin-bottom: 10px;
}

.summary-item{
    padding-bottom: 8px;
    span{
        float: right;
    }
}

.cart-summary .card{
    padding: 30px;
}

@media (min-width: 720px){
    .carts{
        display: grid;
        grid-template-columns: 3fr 2fr;
        gap: 40px;
    }
}

@media (min-width: 900px){
    .carts{
        display: grid;
        grid-template-columns: 3fr 2fr 1fr;
        gap: 40px;
    }
}

