.cart{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    width: max-content;
    box-shadow: none!important;
}

.cart-remove{
    padding-right: 20px;

    &:hover{
        opacity: .5;
    }
}