.product-header{
    background-color: var(--background-light);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.search-area{
    width: 100%;
    order: 3;
}

#panier-link span{
    padding: 3px 0 3px 8px;
    margin-left: 8px;
    border-left: 1px solid;
}

.products-area{
    @extend %container;
}

.filter-area{
    padding-bottom: 20px;
}

.filter-form{
    display: flex;
}

.products{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.products .card-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;

    .btn{
        background-color: var(--background);
        font-size: 1.1em!important;
    }
}

.products .card{
    margin-bottom: 30px;
}

.product-category{
    display: inline-block;
    background-color: var(--background-light);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}


@media (min-width:800px){
    .product-header{
        position: fixed;
        z-index: 200;
        width: 100%;
    }

    .search-area{
        width: 50%;
        order: initial;
    }

    .products-area{
        padding-top: 100px;
    }

    .filter-area{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .products{
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
}

@media (min-width:900px){
    .products{
        grid-template-columns: repeat(5,1fr);
    }
}