$card-padding: 5px;

.card{
    background-color: var(--bg-card);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: box-shadow .3s;
    padding: $card-padding;

    &:hover{
        box-shadow: 0 0 5px var(--color-secondary);
    }
}

.card img{
    width: 100%;
}

.card-body{
    padding-top: $card-padding;
    padding-bottom: $card-padding;
}

.card-footer{
    padding-top: $card-padding;
}

.card-title{
    font-weight: bold;

    &::first-letter{
        text-transform: uppercase;
    }
}
