$card-padding: 5px;

.card{
    background-color: var(--background-light);
    box-shadow: 0 0 20px var(--shadow);
    border: 1px solid var(--border);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: box-shadow .3s;
    padding: $card-padding;
    border-radius: 4px;

    &:hover{
        box-shadow: 0 0 5px var(--color-secondary);
    }
}

.card img{
    width: 100%;
}

.card-body{
    padding-top: $card-padding;
    padding-bottom: $card-padding;
}

.card-footer{
    padding-top: $card-padding;
}

.card-title{
    font-weight: bold;

    &::first-letter{
        text-transform: uppercase;
    }
}

// .card-details{
//     display: flex;
//     flex-direction: row;
// }
// .card-details .card-images{
//     float: left;
//     width: 50%;
// }

// .card-details .card-body{
//     // float: left;
//     // width: 50%;
// }

.card-details:hover{
    box-shadow: 0 0 20px var(--shadow);
}
@media (min-width:720px){
    .card-details{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        padding: 20px;
        cursor: auto;
    }
}

