.burger{
    border: 1px solid var(--color);
    height: max-content;
    cursor: pointer;

    span{
        display: block;
        width: 15px;
        height: 2px;
        background-color:var(--color);
        margin: 4px;
    }
}