%form-control{
    padding: 8px;
    font-size: .9em;
    line-height: inherit;
    color: inherit;
    width: 100%;
    border: none;
    border: 1px solid var(--border);
    outline: none;
    background-color: transparent;
    border-radius: 4px;

    &:focus{
        box-shadow: 0 0 3px var(--color-primary)
    }
}


form{
    text-align: left!important;
}

form label{
    display: block;
    margin-top: 15px;
    line-height: inherit;
}

.form-group label{
    margin: 0;
}

.form-control{
    @extend %form-control;
}

.form-control[type=number]{
    width: 100px;
}


.form-group{
    display:flex;

    & > *{
        border-radius: 0!important;
        border-left: 0!important;
    }

    & > *:first-child{
        border-radius: 4px 0 0 4px!important;
        border-left: 1px solid var(--border)!important;
    }

    & > *:last-child{
        border-radius: 0 4px 4px 0!important;
    }


}

.form-search{
    @extend .form-group;
    
    & > *:first-child{
        border-radius: 40px 0 0 40px!important;
        padding-left: 20px!important;
    }

    & > *:last-child{
        border-radius: 0 40px 40px 0!important;
        padding-right: 10px!important;
    }
}

.select-form{
    background-color: var(--background-light);
    border: 1px solid var(--border);
    font-size: inherit;
    color: inherit;
    outline: none;

    &:focus{
        box-shadow: 0 0 3px var(--color-primary)
    }
}

.textarea{
    min-height: 200px;
    font-family: inherit;
    @extend %form-control;
}



