%form-control{
    padding: 8px;
    font-size: .9em;
    line-height: inherit;
    color: inherit;
    width: 100%;
    border: none;
    border: 1px solid var(--border);
    outline: none;

    &:focus{
        box-shadow: 0 0 3px var(--color-primary)
    }
}

.form-search{
    @extend %form-control;
    background-image: url("images/icons/search_icon.png");
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: 12px;
    padding-left: 32px;
    background-color: transparent;
    color: var(--color);
    border-radius: 25px;
    
    &::placeholder{
        opacity: .5;
    }


}



